# Eclipse Settings
.settings
.classpath
.project

# Compiled & Built files
bin
DungeonGame.jar
build

# Testing Results
tests/DungeonGame
tests/jacoco-resources
tests/index.html
tests/jacoco-sessions.html
